@import url("../uicore/uicore.css");

#homelink {
width: 54px;
    background: url('icons/Logo_dga_54pix.jpg') left no-repeat;
}
#homelink.HomeSelect::after{
left: 45px;
top: 42px;
}
#homelink:hover{
background-size: 54px;
}

.optionsBar {
     background: url('icons/Logo_dga_54pix.jpg') right no-repeat;
}
@media only all and (max-width: 60px) {
#homelink {
width: 38px;
    background: url('icons/Logo_dga_54pix.jpg') left no-repeat;
}
#homelink:hover{
background-size: 39px;
}
}

@media only all and (max-width: 38px) {
#homelink {
width: 38px;
    background: url('icons/Logo_dga_32pix.jpg') left no-repeat;
}
#homelink:hover{
background-size: 30px;
}
.controlBar:hover #homelink.HomeSelect::after{
left: 30px;
top: 30px;
}
.controlBar:hover #homelink {
height: 33px;
width: 33px;
    background: url('icons/Logo_dga_32pix.png') center no-repeat;
background-size: 33px;
}
.controlBar:hover #homelink:hover{
background-size: 33px;
}
.controlBar:hover #homelink select {
height: 33px;
width: 33px;
min-width: 33px;
}
}